.spending-body
  .spending-body__header
    = render "users/header"
  .spending-body__title
    支出の編集
  .spending-body__main
    = form_with model: @spending, url: spending_path, class: :form, local: true do |f|
      = f.collection_select :spending_category_id, SpendingCategory.all, :id, :name,{prompt: "カテゴリの選択 ※必須"}
      %br/
      = f.text_field :item_name, placeholder: "品目名"
      = f.text_field :price, placeholder: "金額(半角数字のみ有効)"
      = f.text_field :memo, placeholder: "メモ"
      %br/
      = f.date_field :date, :use_month_numbers => true
      %br/
      %br/
      = f.submit '編集を完了する'