.input-body
  .input-body__header
    = render "users/header"
  .input-body__main
    .input-body__main__left
      .input-body__main__left__blank
        - breadcrumb :input_new
        = breadcrumbs separator: " › "
      .input-body__main__left__switch
        .input-body__main__left__switch__spending
          #tabcontrol
            %a{href: "#tabpage1"} 支出
            %a{href: "#tabpage2"} 収入
          #tabbody
            #tabpage1
              %ul 家計簿を入力
              %br/
              = form_with(model: @spending, url: spendings_path, class: :form, local: true) do |f|
                = f.collection_select :spending_category_id, SpendingCategory.all, :id, :name,{prompt: "カテゴリの選択 ※必須"}
                %br/
                = f.text_field :item_name, placeholder: "品目名"
                = f.text_field :price, placeholder: "金額(半角数字のみ有効)"
                = f.text_field :memo, placeholder: "メモ"
                %br/
                = f.date_field :date, :use_month_numbers => true
                %br/
                %br/
                %p= f.submit '入力する'
            #tabpage2
              %ul 家計簿を入力
              %br/
              = form_with model: @income, url: incomes_path, class: :form, local: true do |f|
                = f.collection_select :income_category_id, IncomeCategory.all, :id, :name,{prompt: "カテゴリの選択 ※必須"}
                %br/
                = f.text_field :price, placeholder: "金額(半角数字のみ有効)"
                = f.text_field :memo, placeholder: "メモ"
                %br/
                = f.date_field :date, :use_month_numbers => true
                %br/
                %br/
                %p= f.submit '入力する'
    .input-body__main__right
      .input-body__main__right__calendar
        .input-body__main__right__calendar__space
          = link_to icon('far', 'calendar-alt'), calendar_inputs_path, target: :_blank, rel: "noopener noreferrer"
          = link_to "カレンダーを開く", calendar_inputs_path, target: :_blank, rel: "noopener noreferrer"
      .input-body__main__right__recent
        最近の入力
        .input-body__main__right__recent__all
          - @samples.first(5).each do |sample|
            .input-body__main__right__recent__all__each
              - if sample.class == Spending
                .input-body__main__right__recent__all__each__sdg
                  .input-body__main__right__recent__all__each__sdg__date
                    = sample.date.strftime("%-m月%-d日(#{@dw[sample.date.wday]})")
                  .input-body__main__right__recent__all__each__sdg__category
                    - if sample.spending_category.id == 1
                      = icon('fas', 'utensils')
                    - elsif sample.spending_category.id == 2
                      = icon('fas', 'wrench')
                    - elsif sample.spending_category.id == 3
                      = icon('fas', 'train')
                    - elsif sample.spending_category.id == 4
                      = icon('fas', 'mobile-alt')
                    - elsif sample.spending_category.id == 5
                      = icon('fas', 'cart-plus')
                    - elsif sample.spending_category.id == 6
                      = icon('fas', 'music')
                    - elsif sample.spending_category.id == 7
                      = icon('fas', 'graduation-cap')
                    - elsif sample.spending_category.id == 8
                      = icon('far', 'hospital')
                    - elsif sample.spending_category.id == 9
                      = icon('fas', 'bath')
                    - elsif sample.spending_category.id == 10
                      = icon('fas', 'car')
                    - elsif sample.spending_category.id == 11
                      = icon('fas', 'money-bill')
                    - elsif sample.spending_category.id == 12
                      = icon('fas', 'suitcase-rolling')
                    - elsif sample.spending_category.id == 13
                      = icon('fas', 'ellipsis-h')
                    = sample.spending_category.name
                  .input-body__main__right__recent__all__each__sdg__price
                    = number_to_currency(sample.price, unit: "￥", strip_insignificant_zeros: true)
              - else
                .input-body__main__right__recent__all__each__icm
                  .input-body__main__right__recent__all__each__icm__date
                    = sample.date.strftime("%-m月%-d日(#{@dw[sample.date.wday]})")
                  .input-body__main__right__recent__all__each__icm__category
                    - if sample.income_category.id == 1
                      = icon('fas', 'yen-sign')
                    - elsif sample.income_category.id == 2
                      = icon('fas', 'comments-dollar')
                    - elsif sample.income_category.id == 3
                      = icon('fas', 'trophy')
                    - elsif sample.income_category.id == 4
                      = icon('fas', 'hand-holding-usd')
                    - elsif sample.income_category.id == 5
                      = icon('fas', 'project-diagram')
                    - elsif sample.income_category.id == 6
                      = icon('fas', 'ellipsis-h')
                    = sample.income_category.name
                  .input-body__main__right__recent__all__each__icm__price
                    = number_to_currency(sample.price, unit: "￥", strip_insignificant_zeros: true)
  .input-body__footer
    = render "users/footer"