.input-body
  .input-body__header
    = render "users/header"
  .input-body__main
    .input-body__main__left
      .input-body__main__left__blank
      .input-body__main__left__switch
        .input-body__main__left__switch__spending
          #tabcontrol
            %a{href: "#tabpage1"} タブ1
            %a{href: "#tabpage2"} タブ2
          #tabbody
            #tabpage1 …… タブ1の中身 ……
            #tabpage2 …… タブ2の中身 ……
        .input-body__main__left__switch__income
          収入
      .input-body__main__left__change
        .input-body__main__left__change__input
          家計簿を入力
          .input-body__main__left__change__input__form
            = form_with model: @spending, url: spendings_path, class: :form, local: true do |f|
              .input-body__main__left__change__input__form__item-name
                品目名
                .input-body__main__left__change__input__form__item-name__insert
                  = f.text_field :item_name
              .input-body__main__left__change__input__form__price
                金額
                .input-body__main__left__change__input__form__price__insert
                  = f.text_field :price
              .input-body__main__left__change__input__form__memo
                メモ
                .input-body__main__left__change__input__form__memo__insert
                  = f.text_field :memo
              .input-body__main__left__change__input__form__date
                日付
                .input-body__main__left__change__input__form__date__insert
                  = f.date_select :date, :use_month_numbers => true
              .input-body__main__left__change__input__form__submit
                .input-body__main__left__change__input__form__submit__btn
                  = f.submit '入力する'
    .input-body__main__right
      .input-body__main__right__calender
        カレンダー
      .input-body__main__right__recent
        最近の入力
  .input-body__footer
    = render "users/footer"