.user-body
  .user-body__header
    = render "users/header"
  .user-body__main
    .user-body__main__left
      .user-body__main__left__info
        更新情報
        .user-body__main__left__info__each
          .user-body__main__left__info__each__date1
            2022.01.23
          .user-body__main__left__info__each__message1
            本サービスリリース
          .user-body__main__left__info__each__date2
            2022.04.09
          .user-body__main__left__info__each__message2
            入力エラー時のメッセージ表示及び一部表示の修正
          .user-body__main__left__info__each__date3
            2022.05.03
          .user-body__main__left__info__each__message3_1
            分析結果から編集削除の機能を追加
          .user-body__main__left__info__each__message3_2
            パンくずの追加
          .user-body__main__left__info__each__message3_3
            一部表示の改修

    .user-body__main__center
      .user-body__main__center__picture
        .user-body__main__center__picture__mypage
          = current_user.name + "さんのマイページ"
        .user-body__main__center__picture__data
          .user-body__main__center__picture__times
            記録回数
            .user-body__main__center__picture__times__num
              = "#{@input_count}"+ "回"
          .user-body__main__center__picture__days
            うち収入分
            .user-body__main__center__picture__days__num
              = "#{@icm_count}"+ "回"
          .user-body__main__center__picture__serial
            うち支出分
            .user-body__main__center__picture__serial__num
              = "#{@sdg_count}"+ "回"
      .user-body__main__center__situation
        = "#{@this_year}" + "年" + "#{@this_month}" + "月の支出内訳"
        .user-body__main__center__situation__space
          .user-body__main__center__situation__space__pie
            = pie_chart @ratio, donut: true, suffix: "円"
          .user-body__main__center__situation__space__data
            .user-body__main__center__situation__space__data__income
              .user-body__main__center__situation__space__data__income__title
                当月の総収入
              .user-body__main__center__situation__space__data__income__sum
                = number_to_currency(@icm_orders.sum("price"), unit: "￥", strip_insignificant_zeros: true)
            .user-body__main__center__situation__space__data__spending
              .user-body__main__center__situation__space__data__spending__title
                当月の総支出
              .user-body__main__center__situation__space__data__spending__sum
                = number_to_currency(@sdg_orders.sum("price"), unit: "￥", strip_insignificant_zeros: true)
            .user-body__main__center__situation__space__data__balance
              .user-body__main__center__situation__space__data__balance__title
                差額
              .user-body__main__center__situation__space__data__balance__sum
                = number_to_currency(@icm_orders.sum("price") - @sdg_orders.sum("price"), unit: "￥", strip_insignificant_zeros: true)
          .user-body__main__center__situation__space__link
            .user-body__main__center__situation__space__link__prev
              = link_to "前の月へ", user_path(current_user.id, month:@month.prev_month)
            .user-body__main__center__situation__space__link__next
              = link_to "次の月へ", user_path(current_user.id, month:@month.next_month)
    .user-body__main__right
      .user-body__main__recent
        最近の入力
      .user-body__main__recent__all
        - @samples.first(7).each do |sample|
          .input-body__main__right__recent__all__each
            - if sample.class == Spending
              .input-body__main__right__recent__all__each__sdg
                .input-body__main__right__recent__all__each__sdg__date
                  = sample.date.strftime("%-m月%-d日(#{@dw[sample.date.wday]})")
                .input-body__main__right__recent__all__each__sdg__category
                  - if sample.spending_category.id == 1
                    = icon('fas', 'utensils')
                  - elsif sample.spending_category.id == 2
                    = icon('fas', 'wrench')
                  - elsif sample.spending_category.id == 3
                    = icon('fas', 'train')
                  - elsif sample.spending_category.id == 4
                    = icon('fas', 'mobile-alt')
                  - elsif sample.spending_category.id == 5
                    = icon('fas', 'cart-plus')
                  - elsif sample.spending_category.id == 6
                    = icon('fas', 'music')
                  - elsif sample.spending_category.id == 7
                    = icon('fas', 'graduation-cap')
                  - elsif sample.spending_category.id == 8
                    = icon('far', 'hospital')
                  - elsif sample.spending_category.id == 9
                    = icon('fas', 'bath')
                  - elsif sample.spending_category.id == 10
                    = icon('fas', 'car')
                  - elsif sample.spending_category.id == 11
                    = icon('fas', 'money-bill')
                  - elsif sample.spending_category.id == 12
                    = icon('fas', 'suitcase-rolling')
                  - elsif sample.spending_category.id == 13
                    = icon('fas', 'ellipsis-h')
                  = sample.spending_category.name
                .input-body__main__right__recent__all__each__sdg__price
                  = number_to_currency(sample.price, unit: "￥", strip_insignificant_zeros: true)
            - else
              .input-body__main__right__recent__all__each__icm
                .input-body__main__right__recent__all__each__icm__date
                  = sample.date.strftime("%-m月%-d日(#{@dw[sample.date.wday]})")
                .input-body__main__right__recent__all__each__icm__category
                  - if sample.income_category.id == 1
                    = icon('fas', 'yen-sign')
                  - elsif sample.income_category.id == 2
                    = icon('fas', 'comments-dollar')
                  - elsif sample.income_category.id == 3
                    = icon('fas', 'trophy')
                  - elsif sample.income_category.id == 4
                    = icon('fas', 'hand-holding-usd')
                  - elsif sample.income_category.id == 5
                    = icon('fas', 'project-diagram')
                  - elsif sample.income_category.id == 6
                    = icon('fas', 'ellipsis-h')
                  = sample.income_category.name
                .input-body__main__right__recent__all__each__icm__price
                  = number_to_currency(sample.price, unit: "￥", strip_insignificant_zeros: true)
  .user-body__footer
    Encours App