.history-body
  .history-body__header
    = render "users/header"
  .history-body__main
    .history-body__main__blank
      - breadcrumb :history
      = breadcrumbs separator: " › "
    .history-body__main__select
      .history-body__main__select__spending
        支出
      .history-body__main__select__income
        収入
    .history-body__main__field
      .history-body__main__field__spending
        .history-body__main__field__spending__title
          .history-body__main__field__spending__title__date
            日付
          .history-body__main__field__spending__title__category
            カテゴリー
          .history-body__main__field__spending__title__item-name
            品目名
          .history-body__main__field__spending__title__price
            金額
          .history-body__main__field__spending__title__memo
            メモ
        .history-body__main__field__spending__all
          - @spendings.each do |spending|
            .history-body__main__field__spending__all__each
              .history-body__main__field__spending__all__each__edit
                %ul#sample3
                  %li{"data-text" => "編集する"}= link_to icon('far', 'edit'), edit_spending_path(spending.id), class: 'btn'
              .history-body__main__field__spending__all__each__destroy
                %ul#sample3
                  %li{"data-text" => "削除する"}= link_to icon('far', 'trash-alt'), spending_path(spending.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn'
              .history-body__main__field__spending__all__each__date
                = spending.date.strftime("%-m月%-d日(#{@dw[spending.date.wday]})")
              .history-body__main__field__spending__all__each__category
                - if spending.spending_category.id == 1
                  = icon('fas', 'utensils')
                - elsif spending.spending_category.id == 2
                  = icon('fas', 'wrench')
                - elsif spending.spending_category.id == 3
                  = icon('fas', 'train')
                - elsif spending.spending_category.id == 4
                  = icon('fas', 'mobile-alt')
                - elsif spending.spending_category.id == 5
                  = icon('fas', 'cart-plus')
                - elsif spending.spending_category.id == 6
                  = icon('fas', 'music')
                - elsif spending.spending_category.id == 7
                  = icon('fas', 'graduation-cap')
                - elsif spending.spending_category.id == 8
                  = icon('far', 'hospital')
                - elsif spending.spending_category.id == 9
                  = icon('fas', 'bath')
                - elsif spending.spending_category.id == 10
                  = icon('fas', 'car')
                - elsif spending.spending_category.id == 11
                  = icon('fas', 'money-bill')
                - elsif spending.spending_category.id == 12
                  = icon('fas', 'suitcase-rolling')
                - elsif spending.spending_category.id == 13
                  = icon('fas', 'ellipsis-h')
                = spending.spending_category.name
              .history-body__main__field__spending__all__each__item-name
                = spending.item_name
              .history-body__main__field__spending__all__each__price
                = number_to_currency(spending.price, unit: "￥", strip_insignificant_zeros: true)
              .history-body__main__field__spending__all__each__memo
                = spending.memo
      .history-body__main__field__income
        .history-body__main__field__income__title
          .history-body__main__field__income__title__date
            日付
          .history-body__main__field__income__title__category
            カテゴリー
          .history-body__main__field__income__title__price
            金額
          .history-body__main__field__income__title__memo
            メモ
        .history-body__main__field__income__all
          - @incomes.each do |income|
            .history-body__main__field__income__all__each
              .history-body__main__field__income__all__each__edit
                %ul#sample3
                  %li{"data-text" => "編集する"}= link_to icon('far', 'edit'), edit_income_path(income.id), class: 'btn'
              .history-body__main__field__income__all__each__destroy
                %ul#sample3
                  %li{"data-text" => "削除する"}= link_to icon('far', 'trash-alt'), income_path(income.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn'
              .history-body__main__field__income__all__each__date
                = income.date.strftime("%-m月%-d日(#{@dw[income.date.wday]})")
              .history-body__main__field__income__all__each__category
                - if income.income_category.id == 1
                  = icon('fas', 'yen-sign')
                - elsif income.income_category.id == 2
                  = icon('fas', 'comments-dollar')
                - elsif income.income_category.id == 3
                  = icon('fas', 'trophy')
                - elsif income.income_category.id == 4
                  = icon('fas', 'hand-holding-usd')
                - elsif income.income_category.id == 5
                  = icon('fas', 'project-diagram')
                - elsif income.income_category.id == 6
                  = icon('fas', 'ellipsis-h')
                = income.income_category.name
              .history-body__main__field__income__all__each__price
                = number_to_currency(income.price, unit: "￥", strip_insignificant_zeros: true)
              .history-body__main__field__income__all__each__memo
                = income.memo
    .history-body__main__total
      .history-body__main__total__blank
      .history-body__main__total__field
        .history-body__main__total__field__title
          集計結果
        .history-body__main__total__field__income
          .history-body__main__total__field__income__title
            収入の合計
          .history-body__main__total__field__income__sum
            = number_to_currency(@incomes.sum("price"), unit: "￥", strip_insignificant_zeros: true)
        .history-body__main__total__field__spending
          .history-body__main__total__field__spending__title
            支出の合計
          .history-body__main__total__field__spending__sum
            = number_to_currency(@spendings.sum("price"), unit: "￥", strip_insignificant_zeros: true)
        .history-body__main__total__field__balance
          .history-body__main__total__field__balance__title
            差額
          .history-body__main__total__field__balance__sum
            = number_to_currency(@incomes.sum("price") - @spendings.sum("price"), unit: "￥", strip_insignificant_zeros: true)
  .history-body__footer
    = render "users/footer"
